body {
    margin-left: 5em;
    margin-right: 5em;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: large;
}

h4 {
	font-size: medium;
}

h5 {
	font-size: small;
}

h6 {
	font-size: x-small;
}

pre {
    border: 1px solid black;
	margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
}
