h1.simplicitism-title {
	font-size: xx-large;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
}

h4 {
	font-size: small;
}

h5 {
	font-size: x-small;
}

h6 {
	font-size: xx-small;
}

pre {
	margin-left: 3em;
}
